# GENERAL

alias sdh='sudo shutdown -h now'
alias sdr='sudo shutdown -r now'
alias sai='sudo apt-get install -y'

alias zshconfig="vim ~/.zshrc"


# GIT
# TMUXXX

# PYTHON

alias pm='python manage.py'
